._5q_z{color:#3b5998}
._7n6o{position:relative}._7lmb{border:1px solid rgba(0, 0, 0, .1);border-bottom:none;box-sizing:border-box;left:0;position:absolute;right:0;top:0}._7lmc{border-top-left-radius:3px;border-top-right-radius:3px;left:-1px;position:absolute;right:-1px;top:-1px}

#bootloader_MGiz1{height:42px;}.bootloader_MGiz1{display:block!important;}